<%- include("partials/header"); -%>
    <h1 class="text-center">About</h1>
    <p>
        Hi! My name is Jack Wiltshire, an up and coming Front End Web Developer who prides himself on clean semantic code,
        and creative solutions.
        <br>
        <br>
        This is a Daily Journal to document my journey towards becoming a Front End Web Developer.
        Here you will see posts about the new technologies ive learnt to implement, along with exciting developements
        ive seen in the Tech community.
    </p>
    <%- include("partials/footer"); -%>