<%- include("partials/header"); -%>
    <h1 class="text-center">Contact Details</h1>
    <p>
        Email: jackwiltshire.webdev@gmail.com
    </p>
    <p> 
        Phone: 0466 620 502 
    </p>
    <p>
        GitHub: https://github.com/Jack-Wiltshire
    </p>
    <p>
        If theres one thing i've learned in my coding journey, its that collaboration and networking is key!
        Feel free to hit me up and chat about future projects and content.
    </p>
    <%- include("partials/footer"); -%>